@tailwind base;
@tailwind components;
@tailwind utilities;

.ring-loader span span:first-child {
  border-color: #002954 !important;
}
.main-title {
  color: #002954;
}
table {
  color: #002954;
}
thead {
  user-select: none;
}
